:root {
  --color-uno: #155765;
  --color-dos: #98d7e6;
  --color-tres: #333333;
  --color-cuatro: #ffffff;
  --color-cinco: #ededed;
  --error_color: #950e24;
  --error_fondo_color: #e08493;
  --ok_fondo_color: #abc994;
  --ok_color: #1b5e20;
}

#container {
  width: auto;
  height: auto;
  transition: all ease 0.5s;
  display: flex;
  flex-wrap: wrap;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--color-cinco);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8vh;
  background-color: var(--color-dos);
  transition: all ease 0.5s;
}

button {
  border: none;
}

/* letras*/

p {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  color: var(--color-uno);
}

li {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  color: var(--color-uno);
}

h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--color-tres);
}

h4 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  color: var(--color-tres);
  text-align: center;
}
h5 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--color-tres);
}

.titulo {
  margin-left: 1.5vw;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 600;
  color: var(--color-tres);
}

.subtitulo {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 500;
  color: var(--color-tres);
  margin-bottom: 1vh;
}

.input_general {
  height: 5vh;
  width: 20vw;
  color: #555555;
  margin: 0;
  padding-left: 0.5vw;
  border: none;
  background-color: var(--color-cuatro);
  outline: none;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1vh;
}

.boton_general {
  padding: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  background-color: var(--color-uno);
  border: none;
  color: var(--color-cuatro);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1em;
}

/* aca terminan las letras */

#logo {
  width: 6vw;
  height: 6vw;
  margin-right: 15vw;
}

i {
  font-size: 1.5em;
}

#formulario_busqueda {
  display: flex;
  height: 2.5vw;
}

#boton_buscar {
  height: auto;
  width: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  background-color: var(--color-uno);
  border: none;
  color: var(--color-cuatro);
  font-size: 0.6em;
  margin: 0;
  padding: 0;
}

#buscador {
  height: auto;
  width: 30vw;
  font-family: "Poppins", sans-serif;
  color: #555555;

  margin: 0;
  padding-left: 0.5vw;
  border: none;
  background-color: var(--color-cuatro);
  outline: none;
}

#boton_buscar_input {
  display: none;
}
#abridor_menu {
  display: none;
}

.direccion_invisible {
  text-decoration: none;
  color: #155765;
}

#buscador::placeholder {
  font-style: italic;
}

header div {
  margin: 0;
  padding: 0;
  height: 4vh;
  display: flex;
}

nav {
  display: inline-block;
  margin-left: 15vw;
}
nav li {
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

header button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  color: var(--color-uno);
  border: none;
  background-color: var(--color-dos);
  cursor: pointer;
}

#navegador {
  background-color: var(--color-uno);
  display: inline-flex;
  width: 100%;
  margin-left: 0;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
}

#navegador a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  color: var(--color-cuatro);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/*banners*/

@keyframes banner {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-55vw);
  }
  66% {
    transform: translateX(-110vw);
  }
  100% {
    transform: translateX(-165vw);
  }
}

@keyframes animacion_slider {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-0vw);
  }
  50% {
    transform: translateX(-90vw);
  }
  75% {
    transform: translateX(-180vw);
  }
  100% {
    transform: translateX(-270vw);
  }
}

#slider {
  margin-top: 2vw;
  width: 90vw;
  height: 40vh;
  overflow: hidden;
  margin-left: calc((100% - 90vw) * 0.5);
}

#slider section {
  width: calc(90vw * 4);
  height: 100%;
  animation-name: animacion_slider;
  animation-iteration-count: infinite;
  animation-duration: 25s;
}

#slider section div {
  width: 90vw;
  height: 100%;
  float: left;
  background-size: 100% 100%;
}
#slider section div:nth-child(1) {
  background-image: url(../RECURSOS/baners/1.jpg);
  background-size: 100% 100%;
}
#slider section div:nth-child(2) {
  background-image: url(../RECURSOS/baners/2.png);
  background-size: 100% 100%;
}
#slider section div:nth-child(3) {
  background-image: url(../RECURSOS/baners/3.jpg);
  background-size: 100% 100%;
}
#slider section div:nth-child(4) {
  background-image: url(../RECURSOS/baners/4.jpg);
  background-size: 100% 100%;
}

#slider section div:nth-child(5) {
  background-image: url(../RECURSOS/baners/1.jpg);
  background-size: 100% 100%;
}

.banner2 {
  width: 100%;
  display: block;
  background-color: var(--color-uno);
  height: 55vh;
  display: none;
}

/*primera seccion de libros */
.contenedor_libros_largos {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#minih2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.libros_largos {
  width: 15vw;
  height: 28vw;
  display: inline-flex;
  margin: 1vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vw;
  background-color: var(--color-cuatro);
  border-radius: 4px;
  transition: all 0.5s ease;
}
.libros_largos:hover {
  box-shadow: 0 7px 16px 0 rgb(0 0 0 / 20%), 0 1px 3px 0 rgb(0 0 0 / 10%);
  cursor: pointer;
}

.libros_largos a {
  width: 70%;
  height: 70%;
}

.libros_largos img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.libros_largos p {
  color: var(--color-uno);
}

.contenedores {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

#barra_de_busqueda {
  width: 20vw;
  height: 3vh;
  background-color: #f4f4f4;
  margin-top: 1vh;
}

#container_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* aca arranca la segunda seccion */

.contenedor_chico {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1vw;
}

.libros_anchos {
  margin-bottom: 1vw;
  margin-right: 1vw;
  width: 25vw;
  height: 30vh;
  display: inline-block;
  display: flex;
}

.libros_anchos img {
  height: 100%;
  width: 35%;
  cursor: pointer;
  margin-right: 1vw;
}

.libros_anchos h5 {
  font-size: 1em;
}

.ver_mas {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 800;
  color: var(--color-uno);
}

/* tercera sección */

#cont-caracteristicas{
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: space-around;

}

.caracteristicas {
  width: 18vw;
  display: flex;
  margin: 2vw;
  height: 25vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--color-uno);
}

.caracteristicas p {
  width: 75%;
  margin-top: 1vw;
}

footer {
  width: 100vw;
  margin: auto;
  height: 25vw;
  transition: all ease 0.5s;
  background-color: var(--color-uno);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}

footer p {
  color: var(--color-cinco);
}

#footer_logo {
  border: solid 1px black;
  width: 12vw;
  height: 12vw;
  margin-left: 3vw;
}

/* ESTO ES TODO DEL LOGIN */
#login {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20vw;
  background-color: var(--color-dos);
  transition: all ease 0.5s;
  transform: translateX(20vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#login p {
  color: var(--color-uno);
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
}

#login h2 {
  margin-left: 1vw;
  color: var(--color-uno);
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
}

#login h3 {
  color: var(--color-uno);
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
}

#login form {
  width: 90%;
  margin-top: 8vh;
  align-self: center;
}

.login_input {
  padding-left: 1vw;
  height: 2vw;
  margin-bottom: 2vh;
  width: 17vw;
  background-color: var(--color-cuatro);
  border: none;
  color: #131313;
  font-size: 0.8em;
  outline: none;
  align-self: center;
}

.boton {
  border: none;
  width: 50%;
  height: 2.5vw;
  color: var(--color-cuatro);
  background-color: var(--color-uno);
  text-transform: uppercase;
  font-size: 1em;
  padding: 0;
  cursor: pointer;
  align-self: center;
}

#container_extra {
  height: auto;
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3vw;
  color: var(--color-uno);
}

#container_extra a {
  text-decoration: none;
  cursor: default;
  color: var(--color-uno);
}

#container_extra a .texto_login {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  color: var(--color-uno);
  text-decoration: none;
  margin-left: 1vw;
  transform: translateX(20vw);
  transition: all ease 0.5s;
}

.extras {
  display: flex;
  margin-top: auto;
  height: 5vh;
  align-items: center;
  transition: all ease 0.5s;
  padding-left: 1vw;
  overflow: hidden;
}

#salir {
  text-decoration: none;
  align-self: center;
}

.logout_button {
  width: 50%;
  height: 2.5vw;
  color: var(--color-cuatro);
  background-color: var(--color-uno);
  text-transform: uppercase;
  font-size: 1em;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 2vw;
  align-self: center;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  font-weight: 600;
}

/* sección de búsqueda */

#container_titulo {
  width: 100%;
}

#filtros_busqueda {
  height: 28vw;
  width: 18vw;
  display: flex;
  margin: 1vw 4vw 1vw 1vw;
  padding: 1vw 1vw 0vw 1vw;
  border: solid 1px black;
}

#filtros_busqueda form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: space-evenly;
}

#filtros_busqueda form label {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bolder;
  color: var(--color-uno);
}

#filtros_busqueda form input {
  padding-left: 1vw;
  height: 2vw;
  width: 18vw;
  background-color: var(--color-cuatro);
  border: solid 0.5px #b3b3b3;
  color: #131313;
  font-size: 1em;
  outline: none;
}

#filtros_busqueda form input[type="submit"] {
  height: 2vw;
  width: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-uno);
  border: none;
  color: var(--color-cuatro);
  font-size: 1em;
  padding: 0;
  text-transform: uppercase;
  font-weight: bolder;
}
#filtros_busqueda form input[type="date"] {
  font-size: 1em;
}

#contenedor_libros_result {
  width: 70vw;
  border: solid 1px black;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* PAGINA DE LOS LIBROS */

#contenedor_principal_libros {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  width: 80vw;
  height: 75vh;
  margin-left: 10vw;
}

.imagen {
  width: 25vw;
  height: 75vh;
}

.imagen img {
  width: 100%;
  height: 100%;
}

#informacion {
  width: 40vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#result {
  width: 20vw;
  height: 6vh;
  align-self: center;
  display: flex;
}

.ok {
  margin-top: 1vh;
  border: solid 3px var(--ok_fondo_color);
  border-radius: 7px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1vw;
  background-color: var(--ok_fondo_color);
  color: var(--ok_color);
}

.ok_texto {
  color: var(--ok_color);
  font-weight: 400;
}

.error {
  margin-top: 1vh;
  border-radius: 3px;

  border: solid 3px var(--error_fondo_color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1vw;
  background-color: var(--error_fondo_color);
  color: var(--error_color);
}

.error_texto {
  color: var(--error_color);
  font-weight: 400;
}

#informacion h2 {
  margin: 0;
  font-size: 2em;
}

#informacion p {
  margin: 0;
  font-size: 1em;
}

#informacion h4 {
  margin: 0;
  text-align: left;
  font-size: 1.5em;
  color: var(--color-uno);
}

#form_add_libro {
  width: 32vw;
  height: 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1em;
}

#cantidad_container {
  background-color: var(--color-cuatro);
  height: 100%;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  border: solid 1px var(--color-cinco);
  border-radius: 3px;
}

#informacion #cantidad {
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: var(--color-uno);
}

#informacion label {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: var(--color-uno);
}

#add_to_cart {
  margin-left: 10px;
  width: 18vw;
  height: 3.5vw;
  background-color: var(--color-uno);
  border-radius: 3px;
  color: var(--color-cuatro);
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

#otros {
  width: 30vw;
  height: 20vh;
}

#descripcion {
  margin-top: 3vw;
  width: 100%;
  min-height: 50vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

#descripcion h2 {
  font-family: "Poppins", sans-serif;
  text-transform: none;
  font-size: 2em;
  font-weight: 600;
  color: var(--color-uno);
  border-bottom: solid 0.8vh var(--color-uno);
  height: 10vh;
}

#descripcion p {
  width: 55vw;
  text-align: justify;
  font-weight: 500;
  text-transform: none;
  color: var(--color-tres);
}

/* esto es para la estnteria*/

#panel_estante {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  text-align: left;
  min-height: 80vh;
}

#listado_estante {
  border: 1px solid var(--color-tres);
  width: 80vw;
  border-collapse: collapse;
}

#listado_estante th {
  padding-left: 1vw;
  background-color: #ccc;
  border-bottom: solid 1px var(--color-tres);
  width: 10%;
}

#listado_estante th:nth-child(1) {
  width: 40%;
}

#listado_estante tr {
  height: 10vh;
}

#listado_estante td {
  padding-left: 1vw;
  height: 5vw;
  border-top: solid 1px var(--color-tres);
}

#sub {
  background-color: var(--color-cuatro);
}

#seccion_compra {
  height: 30vw;
  width: 100vw;
  gap: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.seccion {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50vh;
  padding: 1vw;
}

.seccion input {
  width: 20vw;
  margin-top: 1.5vh;
  border: #cccccc 1px solid;
  box-sizing: border-box;
  height: 5vh;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  outline: none;
  align-self: center;
}

#form_metodo_pago {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

#form_metodo_pago input {
  width: 1.5vw;
  margin: 0;
}

#form_metodo_pago label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#input_texto_largo {
  width: 25vw;
  height: 15vw;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  align-self: center;
  outline: none;
  margin-bottom: 3vh;
}

#comprar {
  align-self: center;
  width: 18vw;
  height: 4vw;
  background-color: var(--color-uno);
  border-radius: 3px;
  color: var(--color-cuatro);
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* esto es para la configuracion del perfil*/

#menu {
  gap: 2vw;
  width: 20vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#menu a {
  text-decoration: none;
  width: 100%;
  display: flex;
}

.opcion {
  font-size: 1.2em;
  align-self: flex-start;
  margin-left: 1vw;
  cursor: pointer;
  margin: 0;
}

.selected {
  background-color: var(--color-dos);
  border-radius: 5px;
  padding: 3px;
}

.opcion:hover {
  color: var(--color-uno);
}

#container_info_de_perfil {
  width: 100vw;
  height: 60vh;
  display: flex;
}

#datos_personales {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 50vh;
  gap: 1vw;
}

.titulo_container {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #ccc;
  margin-bottom: 1vw;
}

.titulo_container h2 {
  margin: 0;
}

#edit {
  border: solid 1px var(--color-uno);
  width: 6vh;
  border-radius: 3px;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-cuatro);
  background-color: var(--color-uno);
  cursor: pointer;
  transition: all 0.4s;
}

#edit:hover {
  background-color: var(--color-dos);
  color: var(--color-tres);
  border: solid 1px var(--color-dos);
}

.content {
  display: flex;
  border-bottom: solid 1px #ccc;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
}

.content input {
  margin-right: 28vw;
}

.content input:enabled {
  font-style: normal;
  color: #222;
}

.content input:disabled {
  background-color: var(--color-cinco);
}

.content p {
  text-align: end;
  width: 11vw;
  padding: 0;
  margin: 0;
}

.datos {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 500;
  color: var(--color-uno);
  margin-bottom: 1vh;
}

/* CAMBIAR CLAVE */

#container_cambiar_clave {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

#container_cambiar_clave p {
  font-size: 1.2em;
  margin: 1.5vw 0 1.5vw 1.5vw;
}

.label_general {
  font-size: 1.1em;
  color: var(--color-uno);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#form_cambiar_clave {
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: flex-start;
  margin-left: 1.5vw;
}

#form_actualizar_clave {
  margin-top: 2vw;
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: flex-start;
  margin-left: 1.5vw;
}

#RESULT {
  width: 30vw;
  height: 3vw;
  margin-left: 1.5vw;
}

/* Seccion de registro de usuarios */

#registrar_container {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  width: 50vw;
  margin-left: 1.5vw;
  gap: 1vh;
  align-items: flex-start;
}

.error_p {
  color: var(--error_color);
  font-size: 0.8em;
  font-weight: 400;
}

#result_register {
  width: 100%;
  height: 6vh;
  margin: 1vh 0 1vh 1.5vw;
}


#about_us{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


#about_us h2{
  margin-top: 10vh;
  margin-left: 4vh;
}


#about_us h4{
  margin-left: 4vh;
}


#about_us p{
  margin-left: 4vh;
  text-transform: none;
  font-size: 1em;
  color: var(--color-tres);
  font-weight: 400;
  text-align: justify;
  width: 80vw;
}