@media only screen and (max-width: 768px) {

  :root{
    --color-uno: #155765;
    --color-dos: #98d7e6;
    --color-tres: #333333;
    --color-cuatro: #ffffff;
    --color-cinco: #ededed;
    --error_color: #950e24;
    --error_fondo_color: #e08493;
    --ok_fondo_color: #abc994;
    --ok_color: #1b5e20;
  }



html{overflow-x: hidden;}


  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  #container{overflow-x: hidden;}

  header {
    justify-content: space-between !important;
    height: 13vh;
  }
  header form {
    height: 100% !important;
    align-items: center;
    justify-content: center;
    margin-left: 7vw;
  }
  header nav{
    margin: 0;
  }
  li{
    font-size: 8em !important;
  }


  header ul {
    padding: 0;
    margin: 0;
    display: flex ;
  
  }

  /* letras*/

  p {
    font-size: 0.9em;
  }

  h4 {
    font-size: 1em;
  }

  /* aca terminan las letras */

  #cont-logo {
    width: auto;
    height: auto;
    margin-right: calc(100% / 2 - 22vw);
  }
  #logo {
    width: 20vw;
    height: 20vw;
    margin: 0;
  }

  #boton_buscar {
    display: none;
  }
  #boton_buscar_input {
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    background-color: transparent;
    border: none;
    color: var(--color-cuatro);
    font-size: 0.8em;
    margin: 0;
    padding: 0;
  }

  #buscador {
    width: 0vw;
    height: 0vw;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border-radius: 7px;
    transition: all ease 0.5s;  
  }

#buscador::placeholder{text-align: center;}

  /* parte del menu */

header span{
  font-size: 0.25em !important;
}
  header button {
    display: none;
  }
  header form i {
    color: var(--color-uno);
  }
  header nav i {
    display: none !important;
  }
 
header ul{
  gap: 4vw;
}  

header nav{
  margin-right: 2vw;
}

#navegador{display: none;}
#navegador ul {display: none;}

  /*banners*/

  @keyframes animacion_slider {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-0vw);
    }
    40% {
      transform: translateX(-99vw);
    }
    60% {
      transform: translateX(-198vw);
    }
    80% {
      transform: translateX(-297vw);
    }
    100% {
      transform: translateX(-396vw);
    }
  }

  #slider {
    width: 99vw;
    height: 20vw;
    margin-left: calc((100% - 99vw) * 0.5);
  }

  #slider section {
    width: calc(99vw * 4);
    height: 100%;
  }

  #slider section div {
    width: 99vw;
    height: 100%;
  }

  .banner2 {
    width: 100%;
    display: block;
    background-color: var(--color-uno);
    height: 55vh;
    display: none;
  }

  /*fin banners*/

  /*primera seccion de libros */
  .contenedor_libros_largos {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-gap: 10vw;
  }

  .libros_largos {
    width: 35vw;
    height: auto;
    font-size: 0.8em;
  }

  .libros_largos p{
    margin: 0;
  }

  /* aca termina */

  /* aca arranca la segunda seccion */

  .libros_anchos {
    width: 80vw;
    height: 55vw;
  }

  /* y aca termina*/

  /* tercera sección */
  #cont-caracteristicas {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .caracteristicas{
    width: 80%;
    font-size: 1em;
    padding: 0;
  }

  .caracteristicas span{
    font-size: 30px;
  }




  /* termina aca*/

  /* ESTO ES TODO DEL LOGIN */
  #login {
    transition: all ease 0.5s;
    transform: translateX(100vw);
    width: 100vw;
    height: 100%;
    
  }

  #login p {
    font-size: 0.8em;
  }

  #login h2 {
    font-size: 1.4em;
    align-self: center;
  }

  #login h3 {
    font-size: 1em;
  }

  .cerrar{
    display: inline-block;
    width: 10vw;
    background-color: var(--color-dos);
    font-size: 1.5em;
    font-weight: 600;
    color: var(--color-tres);
    font-family: 'Poppins', sans-serif;
    align-self:flex-end ;
  }

  .cerrar:active{
    color:var(--error_color);
  }
  
  #login form {
  display:flex;
  align-items: center;
  flex-direction: column;

}
  .login_input{
    height: 10vw;
    width: 67vw;
    padding-left: 3vw;
  }

  .boton {
    width: 70vw;
    height: 10vw;
  }






  /* REGISTRO DE USUARIOS */

  /* sección de búsqueda */

  /* PAGINA DE LOS LIBROS */

  #contenedor_principal_libros{
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 5vw;
    margin-left: 0;
  }

.imagen{
  align-self: center;
  width: 40%;
  height: 70vw;
}


#informacion{

  width: 100%;
  height: 60vh;
  justify-content: flex-start;
}
 
#informacion h2{
  font-size: 1.5em;
  text-align: center;
}

#informacion h4{
  margin-top: 1vw;
  font-size: 1.2em;
  text-align: center;
  height: auto;
}

#form_add_libro{
  width: 100%;
  height: 10vh;
}

#cantidad{
  width: 10vw;
}

#result{
  width: 100%;
  height: 6vh;
  margin-bottom: 3vw;
}

#add_to_cart{
  width: 50vw;
  height: 10vh;
}

#otros{
  width: 100%;
  text-align: center;

}






#descripcion{
  max-height: none;
}

#descripcion p{
  width: 90%;
}

/* Empieza el footer */

footer {
  width: 100vw;
  height: auto;
  transition: all ease 0.5s;
  background-color: var(--color-uno);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 0;
}
#footer_logo {
  
  width: 50vw;
  height: 50vw;
}
footer section {text-align: center;}
footer p {
  color: var(--color-cinco);
  font-family: "Poppins", sans-serif;
  font-size: 0.7em;
  font-weight: 500;
}
footer a {color: var(--color-cinco); font-family: "Poppins", sans-serif; text-decoration-line: underline;}
footer a:hover{color:var(--color-dos);}
.titulofooter{
  font-size: 0.9em !important;
  margin: 0;
  margin-top: 8vw;
}
footer a{ 
  display: flex;
}
.logoredes{display: flex; flex-direction: row; gap: 10vw; margin-top: 6vw;}
#redes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7vw;
}
#redes i::before{ font-size: 2.3em; color: black;}


#subfooter{
  background-color: var( --color-tres);
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#subfooter img{width: 12vw; height: 8vw;}
#subfooter p{color: var(--color-cuatro); font-size: 0.6em; font-family: "Poppins", sans-serif;}
/* termina el footer */


/* estanteria */
#seccion_compra {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#panel_estante {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  text-align: left;
  min-height:auto;
}
#listado_estante {
  width: 100vw;height: 60vw;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}
#listado_estante tbody{
max-width: 100vw;
max-height: 40vw;
display: inline-block;
overflow-y: scroll;
}
#listado_estante tbody tr{height: 30vw;}
#listado_estante tfoot{display: inline-block; }
#listado_estante tbody td:nth-child(1){height: 30vw; width: 10vw; font-size: 0.6em; }
#listado_estante tbody td{font-size: 0.8em;}
#listado_estante th {
  padding-left: 1vw;
  width: 5%;
  font-size: 0.6em;
}
#listado_estante th:nth-child(1) {
  width: 5%;
}
#listado_estante th:nth-child(2) {
  display: none;
}
#listado_estante tr {
  height: 5vh;
  border: none;
}
#listado_estante td {
  padding-left: 1vw;
  height: 5vw;
  font-size: 0.8em;
  width: 100vw;
}
#listado_estante td:nth-child(2) {display:none; }


.subtitulo {
  text-align: center;
  font-size: 1em;
}

.seccion {
  width: 100vw;
  height: auto;

}
.seccion input {
  width: 70vw;
  height: 12vw;

}
#form_metodo_pago {
  width: 100%;
  height: auto;
  display: inline-block;
}
#form_metodo_pago label {
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
gap: 0;
justify-content: start;

}
#form_metodo_pago input {
  width: 5vw;
  margin: 0;
  margin-right: 5vw;
  margin-left: 5vw;
}

#comprar {
  margin-top: 5vw;
  margin-bottom: 10vw;
  width: 70vw;
  height: 20vw;
}

/* chau estanteria */

/* hola filtro de busqueda */

#filtros_busqueda {
  height: auto;
  width: 100vw;

}
#filtros_busqueda form input{width: 90vw; height: 12vw;}
#filtros_busqueda select,#filtros_busqueda form input[type="submit"]{width: 91vw; height: 12vw;}
#filtros_busqueda form input[type="submit"]{margin-top: 5vw;}
#container_titulo {
  width: 100%;
  font-size: 1em;
}
#filtros_busqueda form label {font-size: 1.2em;}

#contenedor_libros_result {
  width: 100vw;
  gap: 10vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
}

/* chau filtro de busqueda */
/* hola info de perfil */

.opcion {
  font-size: 1em;
  height: 30vw;
  text-align: center;
}
.opcion:hover {
  color: var(--color-uno);
}

#container_info_de_perfil {
  flex-direction: column;
}
#menu {
  width: 100vw;
  height: 50vh;
  flex-direction: row;
  margin: 0;
  margin-bottom: 10vw;
  align-items: center;

}#menu a h4 {width: 100%;}
#datos_personales {

  width: 98vw;
  height: auto;
justify-content: center;
}

.input_general {
  height: 5vh;
  width: 20vw;
  color: #555555;
  margin: 0;
  padding-left: 0.5vw;
  border: none;
  background-color: var(--color-cuatro);
  outline: none;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1vh;
}
.input_general{
  width: 80vw;
  height: 15vw;
  margin-right: 0;

}
.content{justify-content: space-evenly;}
.content input{
  margin-right: 0vw;
}
.content p{width: 37vw; text-align: left;}

.titulo_container {
padding-bottom: 6vw;
}

/* historial de compra */

#tabla_historial {
  width: 100vw;height: 80vw;
  border-collapse: collapse;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  margin-bottom: 30vw;
}
#tabla_historial tbody{
max-width: 100vw;
max-height: 69vw;
display: inline-block;
overflow-y: scroll;
}

#tabla_historial tbody td:nth-child(1){height: 20vw; width: 10vw; font-size: 0.6em; }
#tabla_historial tbody td{height: 20vw; font-family: "poppins", sans-serif;
  text-transform: uppercase; font-size: 0.7em;}
#tabla_historial th {
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
  padding-left: 1vw;
  background-color: var(--color-uno);
  width: 5%;
  font-size: 0.7em;
  color: var(--color-cuatro);
}
#tabla_historial th:nth-child(1) {
  width: 5%;
}
#tabla_historial th:nth-child(2) {
  display: none;
}
#tabla_historial td {
  padding-left: 1vw;
  height: 5vw;
  font-size: 0.8em;
  width: 100vw;
}
#tabla_historial td:nth-child(2) {display:none;}
.result_fila{background-color: var(--color-cuatro);}
.result_fila:nth-child(even){background-color: var(--color-cinco);}


/* about us */

#about_us {height: auto; margin-bottom: 10vw;}
#about_us p {font-size: 0.8em;}


/* cambiar clave */
#container_cambiar_clave {
  height: 100vh;

}
#container_cambiar_clave p {
  font-size: 1em;
  text-align: center;
  margin: 1.5vw 0 1.5vw 1.5vw;
  margin-top: 20vw;
  margin-bottom: 30vw;

}
#form_cambiar_clave {
  width: 100vw;
  align-items: center;
  gap: 6vw;
}
.boton_general{width: 80vw; height: 15vw;}
#RESULT{height: auto; width: 100vw; display: flex; justify-content: center; margin-top: 10vw;}
.error_texto{margin: 0 !important; }
.error{width: 81vw; margin: 0;}


/* registrarrrrrr */


.titulo {
  margin-top: 10vw;
  font-size: 1em;
}

#registrar_container {
  width: 100vw;
  align-items: center;
  margin: 0;
}
#registrar_container input{width: 80vw;}
#registrar_container button{width: 80vw;}
#result_register{margin: 0; margin-top: 20vw; margin-bottom: 5vw; width: 100%; height: auto; display: flex; justify-content: center; align-items: center;}

.error_p{width: 80vw; font-size: 0.7em; margin-top: 0;}

/* ERROR BUSQUEDA */
#contenedor_libros_result .error{height: 15vw; width: 80vw;}











}