@media only screen and (max-width: 768px) {

  :root{
    --color-uno: #155765;
    --color-dos: #98d7e6;
    --color-tres: #333333;
    --color-cuatro: #ffffff;
    --color-cinco: #ededed;
    --error_color: #950e24;
    --error_fondo_color: #e08493;
    --ok_fondo_color: #abc994;
    --ok_color: #1b5e20;
  }






  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  #container{overflow-x: hidden;}

  header {
    justify-content: space-between !important;
    height: 13vh;
  }
  header form {
    height: 100% !important;
    align-items: center;
    justify-content: center;
    margin-left: 7vw;
  }
  header nav{
    margin: 0;
  }
  li{
    font-size: 8em !important;
  }


  header ul {
    padding: 0;
    margin: 0;
    display: flex ;
  
  }

  /* letras*/

  p {
    font-size: 0.9em;
  }

  h4 {
    font-size: 1em;
  }

  /* aca terminan las letras */

  #cont-logo {
    width: auto;
    height: auto;
    margin-right: calc(100% / 2 - 22vw);
  }
  #logo {
    width: 20vw;
    height: 20vw;
    margin: 0;
  }

  #boton_buscar {
    display: none;
  }
  #boton_buscar_input {
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    background-color: transparent;
    border: none;
    color: var(--color-cuatro);
    font-size: 0.8em;
    margin: 0;
    padding: 0;
  }

  #buscador {
    width: 0vw;
    height: 0vw;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border-radius: 7px;
    transition: all ease 0.5s;  
  }

#buscador::placeholder{text-align: center;}

  /* parte del menu */

header span{
  font-size: 0.25em !important;
}
  header button {
    display: none;
  }
  header form i {
    color: var(--color-uno);
  }
  header nav i {
    display: none !important;
  }
 
header ul{
  gap: 4vw;
}  

header nav{
  margin-right: 2vw;
}

#navegador{display: none;}
#navegador ul {display: none;}

  /*banners*/

  @keyframes animacion_slider {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-0vw);
    }
    40% {
      transform: translateX(-99vw);
    }
    60% {
      transform: translateX(-198vw);
    }
    80% {
      transform: translateX(-297vw);
    }
    100% {
      transform: translateX(-396vw);
    }
  }

  #slider {
    width: 99vw;
    height: 20vw;
    margin-left: calc((100% - 99vw) * 0.5);
  }

  #slider section {
    width: calc(99vw * 4);
    height: 100%;
  }

  #slider section div {
    width: 99vw;
    height: 100%;
  }

  .banner2 {
    width: 100%;
    display: block;
    background-color: var(--color-uno);
    height: 55vh;
    display: none;
  }

  /*fin banners*/

  /*primera seccion de libros */
  .contenedor_libros_largos {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-gap: 10vw;
  }

  .libros_largos {
    width: 35vw;
    height: 65vw;
    font-size: 1.2em;
  }

  .libros_largos p{
    margin: 0;
  }

  /* aca termina */

  /* aca arranca la segunda seccion */

  .libros_anchos {
    width: 80vw;
    height: 40vh;
  }

  /* y aca termina*/

  /* tercera sección */
  #cont-caracteristicas {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .caracteristicas{
    width: 80%;
    font-size: 2em;
    padding: 0;
  }

  .caracteristicas span{
    font-size: 30px;
  }




  /* termina aca*/

  /* ESTO ES TODO DEL LOGIN */
  #login {
    transition: all ease 0.5s;
    transform: translateX(100vw);
    width: 100vw;
    height: 100%;
    
  }

  #login p {
    font-size: 0.8em;
  }

  #login h2 {
    font-size: 1.4em;
    align-self: center;
  }

  #login h3 {
    font-size: 1em;
  }

  .cerrar{
    display: inline-block;
    width: 10vw;
    background-color: var(--color-dos);
    font-size: 1.5em;
    font-weight: 600;
    color: var(--color-tres);
    font-family: 'Poppins', sans-serif;
    align-self:flex-end ;
  }

  .cerrar:active{
    color:var(--error_color);
  }
  
  #login form {
  display:flex;
  align-items: center;
  flex-direction: column;

}
  .login_input{
    height: 10vw;
    width: 67vw;
    padding-left: 3vw;
  }

  .boton {
    width: 70vw;
    height: 10vw;
  }





  #redes{display: none;}
  /* REGISTRO DE USUARIOS */

  /* sección de búsqueda */

  /* PAGINA DE LOS LIBROS */

  #contenedor_principal_libros{
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 5vw;
    margin-left: 0;
  }

.imagen{
  align-self: center;
  width: 40%;
  height: 55vh;
}


#informacion{
  border: solid 1px black;
  width: 100%;
}
 
#informacion h2{
  font-size: 1.5em;
  text-align: center;
}

#informacion h4{
  margin-top: 1vw;
  font-size: 1.2em;
  text-align: center;
  height: auto;
}

#form_add_libro{
  width: 100%;
  height: 10vh;
}

#cantidad{
  width: 10vw;
}

#result{
  height: 4vh;
}

#add_to_cart{
  width: 50vw;
  height: 10vh;
}








}
