:root {
  --color-uno: #155765;
  --color-dos: #98d7e6;
  --color-tres: #333333;
  --color-cuatro: #ffffff;
  --color-cinco: #ededed;
  --error_color: #950e24;
  --error_fondo_color: #e08493;
  --ok_fondo_color: #abc994;
  --ok_color: #1b5e20;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-cinco);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

#contenedor {
  background-color: var(--color-dos);
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
h2 {
  color: var(--color-tres);
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  height: 5vh;
}

#contenedor form {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  width: 40vw;
  height: 50vh;
}

#contenedor form input {
  padding-left: 1vw;
  height: 2vw;
  width: 20vw;
  background-color: var(--color-cuatro);
  border: none;
  color: #131313;
  font-size: 0.8em;
  outline: none;
  font-family: "Poppins", sans-serif;
}

#contenedor #boton {
  width: 10vw;
  height: 2.5vw;
  color: var(--color-cuatro);
  background-color: var(--color-uno);
  text-transform: uppercase;
  font-size: 1em;
  padding: 0;
  cursor: pointer;
}

#error {
  width: 100%;
  height: 5vh;
  background-color: var(--error_color);
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: var(--color-cuatro);
}

/* Esto es la página principal */

#header {
  width: 100vw;
  height: 10vh;
  background-color: var(--color-dos);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo {
  margin-left: 5vw;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  width: 20vw;
}

#logo img {
  width: 8vw;
  height: 8vw;
}

#header p {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--color-uno);
  width: 10vw;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

a {
  width: 10vw;
  height: 6vh;
  color: var(--color-cuatro);
  background-color: var(--color-uno);
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}




#container_botones {
  width: 24vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

#abrir_menu{
  display: none !important;
}




#menu_botones{
  display: none;
}


#header a:hover {
  background-color: var(--error_color);
  color: black;
}

#alerta {
  margin-left: 5vw;
  width: 90vw;
  height: 5vh;
  align-self: center;
}

.alerta_stock {
  color: var(--error_color);
  background-color: var(--error_fondo_color);
  padding-left: 2vw;
  font-family: "Poppins", sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 1vw;
}

#listado {
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 70vh;
  align-items: center;
  table-layout: fixed;
  overflow-x: hidden;
}

#result_consulta_libros {
  width: 100%;
  background-color: var(--color-cuatro);
  border-collapse: collapse;
  text-align: left;
  overflow-y: scroll;
}

#result_consulta_libros th {
  padding: 0.7vw;
  overflow: hidden;
}

#result_consulta_libros td {
  height: 2vw;
  overflow: hidden;
  padding: 0.7vw;
  font-family: "Poppins", sans-serif;
}

#result_consulta_libros .celda_error {
  color: var(--error_color);
}

#result_consulta_libros .result_fila {
  height: 4vw;
}

#result_consulta_libros .result_fila:nth-child(even) {
  background-color: var(--color-cinco);
}

#result_consulta_libros thead {
  background-color: var(--color-uno);
  color: var(--color-cuatro);
  height: 10vh;
  font-weight: 400;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
}


#result_consulta_usuario {
  width: 100%;
  background-color: var(--color-cuatro);
  border-collapse: collapse;
  text-align: left;
  overflow-y: scroll;
}

#result_consulta_usuario th {
  padding: 0.7vw;
  overflow: hidden;
}

#result_consulta_usuario td {
  height: 2vw;
  overflow: hidden;
  padding: 0.7vw;
  font-family: "Poppins", sans-serif;
}


#result_consulta_usuario .result_fila {
  height: 4vw;
}

#result_consulta_usuario .result_fila:nth-child(even) {
  background-color: var(--color-cinco);
}

#result_consulta_usuario thead {
  background-color: var(--color-uno);
  color: var(--color-cuatro);
  height: 10vh;
  font-weight: 400;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
}

#buscar_libro_input {
  height: auto;
  width: 30vw;
  font-family: "Poppins", sans-serif;
  color: #555555;

  margin: 0;
  padding-left: 0.5vw;
  border: none;
  background-color: var(--color-cuatro);
  outline: none;
}

#boton_buscar {
  height: auto;
  width: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  background-color: var(--color-uno);
  border: none;
  color: var(--color-cuatro);
  font-size: 1em;
  margin: 0;
  padding: 0;
}

#buscador {
  height: 3vw;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#funciones {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

/*cosas generales */
.input_texto {
  width: 30vw;
  margin-top: 1.5vh;
  border: #cccccc 1px solid;
  box-sizing: border-box;
  height: 5vh;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.input_texto_descripcion {
  width: 30vw;
  margin-top: 1.5vh;
  border: #cccccc 1px solid;
  box-sizing: border-box;
  height: 15vh;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  align-self: center;
  outline: none;
}

.input_boton {
  width: 14vw;
  height: 5vh;
  margin-top: 2vh;
  font-family: Poppins, sans-serif;
  background-color: var(--color-cuatro);
  cursor: pointer;
  color: var(--color-uno);
  font-size: 1em;
  font-weight: 400;
  border-radius: 7px;
  border: 1px solid var(--color-uno);
  text-decoration: none;
  text-transform: uppercase;
}

.input_boton:hover {
  background-color: var(--color-uno);
  border: solid 1px var(--color-cuatro);
  color: var(--color-cuatro);
}

.titulo {
  margin-left: 1.5vw;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.9em;
  font-weight: 600;
  color: var(--color-tres);
}

.subtitulo {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 500;
  color: var(--color-tres);
  margin-bottom: 1vh;
}

.error{
  margin: 0 0 0 1.5vw;
  width: 30vw;
  height: 8vh;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: var(--error_color);
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #ff9cac, #f39b9b);
  border: solid 1px #ed6e6e;
  border-radius: 0.6vw;
  text-align: center;
  font-weight: 700;
  box-shadow: 1px 2px 8px 3px var(--error_fondo_color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error p {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

.ok{
  color: var(--ok_color);
  width: 30vw;
  background: var(--ok_fondo_color);
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 0 1.5vw;
}

.ok p {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
}


.div_error{
    margin: 1vw 0 0 0;
    width: 30vw;
    height: 8vh;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: var(--error_color);
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #ff9cac, #f39b9b);
    border: solid 1px #ed6e6e;
    border-radius: 0.6vw;
    text-align: center;
    font-weight: 700;
    box-shadow: 1px 2px 8px 3px var(--error_fondo_color);

}


/* seccion de insertar_usuario */

#insertar_usuario {
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form_insertar_usuario{
  margin-left: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/*contenedor chico para poder contener las funciones en una columna */
#funciones_chicas {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 50vw;
  justify-content: flex-start;
  align-items: center;
}
/* seccion de banear usuarios*/
#banear_usuario {
  width: 45vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#form_baneo_usuario{
  margin-left: 1.5vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*SECCION DE AGREGAR ADMINISTRADORES*/

#agregar_administrador {
  width: 45vw;
  height: 45vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#form_asign_admin{
  margin-left: 1.5vw;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* SECCION DE ACTUALIZAR INFO DE USUARIOS */

#actualizar_usuario {
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2vw;
}

#form_buscar_user_mod {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5vw;
}

#form_modificar_user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5vw;
}

.input_boton_actualizar {
  width: 8vw;
  height: 5vh;
  margin-top: 2vh;
  font-family: Poppins, sans-serif;
  background-color: var(--color-cuatro);
  cursor: pointer;
  color: var(--color-uno);
  font-size: 1em;
  font-weight: 400;
  border-radius: 7px;
  border: 1px solid var(--color-uno);
  text-decoration: none;
  text-transform: uppercase;
}

.input_boton_actualizar:hover {
  background-color: #155765;
  color: var(--color-cinco);
  border: solid 1px var(--color-cinco);
}
/* a partir de acá arranca la pagina de los libros*/

#contenedor_grande {
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5vw;
}

#contenedor_grande h4{
  margin-left: 1.5vw;
}

 #form_agregar_libro {
  display: flex;
  flex-direction: column;
  margin-left: 1.5vw;
}

#contenedor_grande div input[type="file"] {
  width: 30vw;
  display: none;
}

.label_imagen {
  display: flex;
  width: 15vw;
  height: 5vh;
  margin-top: 2vh;
  font-family: Poppins, sans-serif;
  background-color: var(--color-cuatro);
  cursor: pointer;
  color: var(--color-uno);
  font-size: 1em;
  font-weight: 400;
  border-radius: 7px;
  border: 1px solid var(--color-uno);
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.label_imagen:hover {
  background-color: #155765;
  color: var(--color-cinco);
  border: solid 1px var(--color-cinco);
}

#cambiar_estado_libro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#cambiar_estado_libro h4{
  margin-left: 1.5vw;
}

#form_cambiar_estado_libro {
  margin-left: 1.5vw;
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}



#modificar_libro {
  width: 35vw;
  height: 130vh;
  display: flex;
  flex-direction: column;
}

#form_buscar_libro_mod {
  margin-left: 1.5vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
  width: 30vw;
}

#form_modificar_datos_libro {
  margin-top: 1vw;
  width: 30vw;
  margin-left: 1.5vw;
  display: flex;
  flex-direction: column;
}
